.btn{
    font-size: 1.6rem;
  }
  
  .fc-event-title{
    font-size: 1.6rem;
  }

  /* .fc-toolbar-title {
    text-transform: lowercase;
  }
  
  .fc-toolbar-title::first-letter {
    text-transform: uppercase;
  } */