.iframe {
    width: 100%;
    height: 400px;
}



@media screen and (min-width:540px) {
    .iframe {
        width: 400px;
        height: 600px;
        
    }

    .contenedor-div {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
    }
    
}

 /* .leaflet-container {
    width: 100%;
    height: auto;
  }

  @media screen and (min-width: 1200px) {
    
    .leaflet-container {
      width: 70%;
    }
    
  }
 */
