footer{
  position: absolute;
  bottom: 0;
  width: 100%;
   background-color: #000; 
  /* background-color: #5f5d49; */
}
/* footer p{
  color: #fff;
} */

.parrafo-footer{
  color: white;
}

.btn { 
background-color: #000;
border: 1px solid black;
}

.btn:hover {
background-color: #fff !important;
color: #000 !important; 
border: 1px solid black;
}
