/* .color-navbar{
  background-color: #000;
}

.border-navbar-color:hover{
  border-bottom: 1px solid #0a0a0a;
  transition-delay: 1s;
  transition: all .9s ease-in-out;
  transition-timing-function: ease-in-out;
}


.border-navbar{
  border: 1px solid #000;
}

@media screen and (min-width: 992px) {
  .border-navbar-color:hover{
    border-bottom: 1px solid #5e5858;
    transition-timing-function: ease-in-out;
    transition-delay: 1s;
    transition: all ease-in-out 0.5s;
 
  }
}
 */
