body {
  font-family: "Montserrat", "Roboto", sans-serif;
  min-height: 100vh;
  position: relative;
  background-color: #f5f2f0;
  padding-bottom: 320px;
}

/* .row > * {
  padding-right: 0;
  padding-left: 0;
} */

.card {
  margin: 20px;
  box-shadow: 5px 5px 6px 1px rgb(227, 227, 227);
  width: 80%; /* width: 70%; */
}

img {
  object-fit: cover;
  cursor: pointer;
}

hr{
  border: 1px solid #000;
}


article {
  display: flex;
  justify-content: center;
}

.mobile {
  display: flex;
}
.tablet {
  display: none;
}
.desktop {
  display: none;
}

@media screen and (min-width: 400px){
  body {
    padding-bottom: 250px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .card-media {
    display: flex;
  }
  .tablet {
    display: flex;
  }
  .size-destacado {
    width: 91%; /* width: 85% */
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: none;
  }
  body {
    padding-bottom: 220px;
  }
}

@media screen and (min-width: 992px) {
  .mobile {
    display: none;
  }
  .tablet {
    display: none;
  }
  .desktop {
    display: flex;
  }
  .size-destacado {
    width: 95%;  /* width: 92.5%; */
  }
  body {
    padding-bottom: 190px;
  }
}
@media screen and (min-width: 2000px) {
  
  body {
    padding-bottom: 230px;
  }
}
.btn {
  background-color: #ba2828 ;
  border-color: #ba2828;
}

.btn:hover{
  border-color: #ba2828;
  color: #ba2828!important;
  background-color: #f5f2f0!important;
}

.btn-sin-hover:hover {
  color: rgb(255, 255, 255)!important;
 background-color: rgba(0, 0, 0, 0.852)!important;
}

.detalle-del-evento {
  display: flex;
justify-content: center;
  flex-direction: column;
}

.fc-event-time {
  color: black;
}

.fc-event-title {
  color: black;
}