@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;900&family=Poppins:wght@300;400;600;700;900&family=Raleway:wght@300;400;600;700;900&family=Roboto:wght@300;400;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


 body {
  font-family: "Poppins", "Montserrat", "Roboto", sans-serif;
  min-height: 100vh;
  position: relative;
  padding-bottom: 320px;
}

/* navbar */ 
/* .background-navbar{
  background: linear-gradient(0deg, rgba(164,103,31,0.7875525210084033) 0%, rgba(87,47,2,0.8855917366946778) 100%), url(https://www.tuentrada.com/newsletter/footer/images/background/page-title-bg.jpg);
} */
/* border navbar */

/* alerta */
.swal2-confirm:focus {
  outline: none; /* Desactiva el contorno predeterminado del enfoque */
  box-shadow: 0 0 0 3px #d1bda8 !important; /* Cambia el color del contorno del enfoque */
}

/*calendario*/
.fc-toolbar-chunk{
  font-size: 8.5px;
}
.fc-list-day-text, .fc-list-day-side-text, .fc-list-event-time, .fc-list-event-title {
  font-size: 13px;
}


@media screen and (min-width: 361px) {
  .fc-toolbar-chunk{
    font-size: 11px;
  }
  .fc-list-day-text, .fc-list-day-side-text, .fc-list-event-time, .fc-list-event-title {
    font-size: 16px;
  }
}

@media screen and (min-width: 992px) {
  .fc-toolbar-chunk{
    font-size: 14px;
  }
  
}
 /* spinner */

 .spinner{
  display: flex;
  justify-content: center;
  margin: 30px;
}

.spinning{
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  to{
    transform: rotate(360deg);
  }
}

